[Unit]
Description=TJLamp
After=multi-user.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/python3 /home/pi/Desktop/tjlamp-client/tjlamp-client.py --config /home/pi/Desktop/tjlamp-client/config.ini
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
